h1 {
	color: gray;
	font-family: Arial, sans-serif;
	margin-top: 10px;
	text-align: center;
}

.buttons {
	width: 280px;
	height: 20px;
	margin: auto;
}

#frame {
	height: 674px;
	width: 604px;
	background-color: red;
	margin: auto;
}

#grid {
	height: 544px;
	width: 544px;
	background-color: black;
	margin-left: 30px;
	margin-top: 30px; /* why does this not work? */
}

.knobs {
	background-color: white;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border-style: solid;
	border-color: gray;
	border-size: 1px;
}

#left {
	margin-left: 30px;
	margin-top: 20px;
	float: left;
}

#right {
	margin-top: 20px;
	margin-right: 30px;
	float: right;
}

.cell {
	background-color: white;
	display: inline-block;
	float: left;
}
